<div class="component-container">
    <!-- Contenido del componente -->
    <div class="container">
        <h2 class="mt-5 mb-4">Últimas Noticias</h2>

        <!-- Noticia 1 -->
        <div class="container py-4 ">

            <div class="noticia">
                <div class="row">
                    <div class="col-md-4 noticia">
                        <img src="assets/imagen/noticias/1748584132216735164.jpg"
                            alt="Imagen de la noticia" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h4>Urizar Azpitarte: "Para poder acabar con las suspicacias, el arbitraje debe ser
                            independiente"</h4>
                        <p>El histórico colegiado vizcaíno preside la Asociación Nacional de Jueces y Árbitros del
                            Deporte Español, con la que pretende defender la dignidad de un colectivo secuestrado.</p>
                        <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.elconfidencial.com%2Fdeportes%2Ffutbol%2F2024-05-13%2Furizar-azpitarte-acabar-suspicacias-independiente_3880945%2F%3Ffbclid%3DIwZXh0bgNhZW0CMTAAAR2AegjG3PgrygKKzR5_92eEas9sVZ-kiRkQHJSFG2AtdPrfuftQCtmJeVk_aem_AV2io9cPK2VMm0ZcXL5TeicnN8LB457pNdHgImwYYfY3Y38IbjyEO-pmr8jvaRWSnriebdrWQFH73orkN7oXoTlK&h=AT2PKVaF5LOl5WGWRg77xhPjUp6gQ4EO2QChz7KOe1zK8Trdk0-QxEp8SS9mnBP7dIIArZFpfqKB2vMbEXgf3j7Tj0WukkHP1CGTZWo5AphG6t8UcCdXr-w2jy2Fn3YtPsN3&__tn__=-UK-R&c[0]=AT0RQbikIYWKdSZL5hj1oxZ_OHlOfe2TKroujpNUufMG6MjG-UjNC3iaMp-k7q3qKCW2gXNWo9WSJE6fFgKtmltK66WQbsm9c0lQl5K9KabQSBWQ40Pwnxs2oop4ekttEa4pXC6uAFbW_XghzdZ987EoEtyTE4Bmq5geRyKVlty1s4NCLiqvNnh2ClIc0rHZ060bFF4rJT0LCTRHlayQxXyU-vxVVkBpZYOb3LoLW0eSRuU"
                            class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Noticia 2 -->
        <div class="container py-4 ">
            <div class="noticia">
                <div class="row">
                  <div class="col-md-4">
                    <div id="carouselNoticia2" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="assets/imagen/noticias/435502625_10225204711413494_6811539292907356158_n.jpg" class="d-block w-100" alt="Imagen 1 de la noticia">
                        </div>
                        <div class="carousel-item">
                          <img src="assets/imagen/noticias/438079265_10225204711293491_8730576941897310604_n.jpg" class="d-block w-100" alt="Imagen 2 de la noticia">
                        </div>
                        <div class="carousel-item">
                          <img src="assets/imagen/noticias/438087263_10225204711933507_8198048543121396996_n.jpg" class="d-block w-100" alt="Imagen 3 de la noticia">
                        </div>
                        <div class="carousel-item">
                          <img src="assets/imagen/noticias/438089093_10225204711813504_5748205409406669574_n.jpg" class="d-block w-100" alt="Imagen 3 de la noticia">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselNoticia2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselNoticia2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <h4>Presentación oficial de ANJADE-DIGNIDAD DEPORTIVA</h4>
                    <p>El jueves 18 de abril de 2024 a las 12:30 en el Auditorio Samaranch del Consejo Superior de Deportes.
                      Asistieron dirigentes de este organismo, representantes de diferentes federaciones y un buen número de medios de comunicación.</p>
                    <a href="https://www.facebook.com/groups/436998112141913" class="btn btn-primary">Leer más</a>
                  </div>
                </div>
              </div>
        <!-- Puedes agregar más noticias aquí -->

    </div>
</div>